@font-face {
    font-family: computer;
    src: url(./data-control/data-latin.ttf);
}

@font-face {
    font-family: computer2;
    src: url(./data-control/data-unifon.ttf);
}

html {
    scroll-behavior: smooth;
}

:root {
    font-size: 16px;
    font-family: computer;
    /* defining variables in my css styles so that i can reuse colors using only the text*/
    --text-primary: #b6b6b6; 
    --text-secondary: #ececec;
    --bg-primary: #404046;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
}

body {
    color: var(--text-primary);
    background-color: black;
    margin: 0;
    padding: 0;
}

main { 
    /* rem is a unit that is relative to the font size on the root element */
    margin-left: 5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

/* adjust the width of the scroll bar */
body::-webkit-scrollbar{
    width: 0.5rem;
}

/* adjust the color of the scrollbar */
body::-webkit-scrollbar-track{
    background: var(--bg-primary);
}

/* adjust the color of the scrollbar pointer */
body::-webkit-scrollbar-thumb{
    background: white;
}

.navbar {
    width: 5rem;
    height: 100vh; /* vh is always relevant to the size of the viewport*/
    position: fixed; 
    background-color: var(--bg-primary);
    transition: width 300ms ease;
}

.navbar-nav{
    list-style-type: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item {
    width: 100%;
}

.logo {
    width: 100%;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: white;
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: 300ms;
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
}

.link-text {
    display: none;
    margin-left: 1rem;
}

.nav-link svg {
    width: 6rem;
    min-width: 6rem;
    margin: 1.1rem;
    margin-top: 40px;
}

.nav-link svg:hover {
    width: 8rem;
    min-width: 8rem;
    margin-top: 40px;
    margin-bottom: 0px;
}

.navbar:hover {
    width: 16rem;
}

.navbar:hover .link-text{
    display: block;
}

.icon {
    color: #ff7eee;
}

.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background-color: black;
    text-transform: uppercase;
    letter-spacing: 0.3ch;
    width: 100%;
}

.logo svg {
    margin-left: 0px;
    margin-top: 20px;
    transform: rotate(0deg);
    transition: transform 200ms;
    height: 60px;
}

.navbar:hover .logo svg {
    transform: rotate(-180deg);
    margin-left: 0px;
    margin-top: 10px;
    height: 80px;
}

#header {
    display: flex;
    align-items: flex-end;
    justify-content: right;
    width: 100%;
    font-size: 25px;
    height: 200px;

}

#header h1 {
    overflow: hidden; 
    border-right: 5px solid; 
    white-space: nowrap; 
    letter-spacing: .15em; 
    animation: 
    typing 3s steps(26, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #ff7eee }
}

h2, h1, p {
    text-align: right;
    margin-left: 20%;
}

#intro {
    height: 500px;
    background-image: url(./images/the\ backrooms.gif);
    background-repeat: no-repeat;
    background-size: cover; 
    -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}

#level0-container, #level1-container, #level2-container, #level3-container, #level4-container, #level5-container {
    border: 0px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}

#level0-container {
    border-left: solid 5px #ff7eee;
}
#level0-container h1 {
    color: #ff7eee
}

#level1-container {
    border-left: solid 5px #ff0000;
}
#level1-container h1 {
    color:#ff0000;
}

#level2-container {
    border-left: solid 5px #ffa500;
}
#level2-container h1 {
    color:#ffa500;
}

#level3-container {
    border-left: solid 5px #FFFF00;
}
#level3-container h1 {
    color:#FFFF00;
}

#level4-container {
    border-left: solid 5px #00FF00;
}
#level4-container h1 {
    color:#00FF00;
}

#level5-container {
    border-left: solid 5px #45B6FE;
}
#level5-container h1 {
    color:#45B6FE;
}

img {
    max-width: 80%;
    max-height: 80%;
    margin-left: 20%;
    margin-right: 0%;
    justify-content: right;
    -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}

.level0-entities, .level1-entities, .level2-entities, .level3-entities, .level4-entities, .level5-entities {
    display: flex;
    justify-content: right;
    margin-left: 20%;
    margin-right: 0%;
    flex-wrap: wrap;
}

div .entity, .entity1, .entity2, .entity3, .entity4, .entity5 {
    margin: 5px;
    height: 30vh;
    width: 30vh;
}

.entity{
    border: 2px solid #ff7eee;
}

.entity1{
    border: 2px solid #ff0000;
}

.entity2{
    border: 2px solid #ffa500;
}

.entity3{
    border: 2px solid #FFFF00;
}

.entity4{
    border: 2px solid #00FF00;
}

.entity5{
    border: 2px solid #45B6FE;
}

.entity h3, .entity1 h3, .entity2 h3, .entity3 h3, .entity4 h3, .entity5 h3 {
    text-align: center;
    margin-top: 45%;
    margin-bottom: 45%;
    font-weight: lighter;
}














